/* A common style for all elements */
* {
  box-sizing: border-box;
  text-decoration: none;
}
/* give the body background color */
body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 1%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* fix the size and location of the uni logo */
.logo {
  float: left;
  margin: 40px;
  width: 140px;
  height: 140px;
}
/* style the head and give it color and size */
.navbar {
  background-color: rgb(201, 201, 201);
  font-family: 'Times New Roman', Times, serif;
  padding-right: 2%;
  padding-left: 2%;
  box-shadow: 5px 5px 5px 5px rgba(0.10, 0.1, 0.1, 0.1);
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log a {
  font-size: 35px;
  font-weight: 600;
  color: #686654;
}

li {
  list-style: none;
}

button,
select {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  border: 3px double #686654;
  position: relative;
  color: #686654;
  height: 45px;
  width: 90px;
  border-radius: 30px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  margin-left: 5px;
}

.buse1 {
  display: flex;
  justify-content: flex-start;
}

.image img {
  float: left;
  margin: 40px;
  width: 140px;
  height: 140px;
}

.crbiLOGO1 {
  display: flex;
  justify-content: space-between;
}

.crbiLOGO2 {
  margin: 14px;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 15%;
  text-align: center;
}

.crbiLOGO2 img {
  width: 90px;
}

.descr1 {
  display: flex;
  justify-content: space-between;
}

.descr2 {
  text-decoration: none;
  margin: 14px;
  margin-top: 0px;
  margin-bottom: 3%;
  width: 15%;
  text-align: center;
}

.descr2 a {
  color: #3b464d;
  font-size: 20px;
  font-weight: 550;
}

.descr2 a:hover {
  color: #3b464d;
  font-size: 21px;

}

#go-to-top {
  position: fixed;
  bottom: 1.5em;
  right: 20px;
  z-index: 999;
  /* Make sure the button is always on top */
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  background-color: #84898d;
}

#go-to-top img {
  width: 40px;
}

.container {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 4px double #686654;
  border-radius: 20px;
  margin-bottom: 4rem;
}

#instructions {
  width: fit-content;
  font-size: 35px;
  color: #686654;
  margin-top: -2.5rem;
  background-color: rgb(255, 255, 255);
}

.slider-wrapper {
  position: relative;
  max-width: 50%;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: scale-down;
  background-color: rgb(255, 255, 255);
}

.slide-nav {
  display: flex;
  column-gap: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.slide-nav a {
  width: 3rem;
  height: 0.75rem;
  border-radius: 20px;
  background-color: #535353;
  opacity: 0.88;
  transition: opacity ease 25ms;
}

.slide-nav a:hover {
  opacity: 1;
}

.container2 {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: 4px double #686654;
  border-radius: 20px;
}

#News {
  width: fit-content;
  font-size: 35px;
  color: #686654;
  margin-top: -2.5rem;
  background-color: rgb(255, 255, 255);
}

.slider-wrapper2 {
  position: relative;
  max-width: 50%;
  margin: 0 auto;
}

.slider2 {
  display: flex;
  aspect-ratio: 16/9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}

.slider2 img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: scale-down;
  background-color: rgb(255, 255, 255);
}

.slide-nav2 {
  display: flex;
  column-gap: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.slide-nav2 a {
  width: 3rem;
  height: 0.75rem;
  border-radius: 20px;
  background-color: #535353;
  opacity: 0.88;
  transition: opacity ease 25ms;
}

.slide-nav2 a:hover {
  opacity: 1;
}
.VisitorCounter {
  margin:1em auto;
  padding: auto;
  border: 4px double #686654;
  border-radius: 20px;
  display: block;
  text-align: center;
  justify-content: center;
  color: #504e41;
  font-size: 15px;
}

.VisitorCounter p{
  margin: 0%;
  font-size: 20px;
  font-weight: 800;
}

.VisitorCounter span {
  font-size: 18px;
}

.footer {
  margin-top: 15px;
  background-color: rgb(100, 99, 99);
  color: aliceblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
  font-size: larger;
}

.logf {
  display: flex;
  width: 130px;
  height: 130px;
  margin: 10px;
  margin-right: 0%;
}

.col1 a {
  font-size: medium;
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
  text-align: left;
}

.col2 input {
  width: 100%;
  height: 26px;
}

.col2 button {
  margin-top: 5px;
  width: 50px;
  height: 34px;
}

.footer div h3 {
  font-size: larger;
  font-weight: 300;
  letter-spacing: 1px;
}

#medialogo {
  margin-left: 5px;
  height: 1px;
  width: 1px;
  margin-bottom: 3px;
}

.login {
  margin: auto;
  width: 400px;
  height: fit-content;
  background-color: rgb(142, 151, 148);
  color: white;
  border-radius: 20px;
  border: 3px double rgb(92, 94, 93);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.Flogin {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  gap: 5px;
}
.Flogin input{
  border-radius: 20px;
}
.Flogin button{
  margin-top: 2%;
  width: 5em;
  height: 2em;
  color: #efefef;
  border:#efefef double;
  background-color:  rgb(104, 105, 104);
}

@media only screen and (max-width:1023px) {
  body {
    background-color: #f8fff2;
    .navbar {
      background-color: rgb(202, 228, 178);
      box-shadow: 5px 5px 5px 5px rgba(71, 114, 35, 0.233);
    }
    .log a {
      font-size: 30px;
      font-weight: 600;
      color: #3c5f28;
    }
    button,
    select {
      font-size: 14px;
      border: 3px double #3c5f28;
      color: #3c5f28;
      height: 40px;
      width: 76px;
    }
    .image img {
      float: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 6px;
    }
    .crbiLOGO2 {
      margin: 14px;
      margin-bottom: 0%;
      margin-top: 1%;
    }
    .crbiLOGO2 img {
      width: 70px;
    }
    .descr2 a {
      color: rgb(35, 66, 47);
      font-size: 15px;
    }
    .descr2 a:hover {
      color: rgb(35, 66, 47);
      font-size: 16px;
      text-decoration: wavy;
    }
    #go-to-top {
      bottom: 0.5em;
      padding: 0;
      border-radius: 50%;
      background-color: rgb(84, 94, 76);
    }
    .container {
      background-color: #f8fff2;
      border: 4px double rgb(80, 92, 69);
    }
    #instructions {
      font-size: 27px;
      color: rgb(35, 66, 47);
      margin-top: -2.3rem;
      background-color: #f8fff2;
    }
    .slider-wrapper {
      max-width: 100%;
    }
    .slider img {
      background-color: #f8fff2;
    }
    .slide-nav a {
      background-color: #1b4131;
    }
    .container2 {
      background-color: #f8fff2;
      border: 4px double rgb(80, 92, 69);
    }

    #News {
      font-size: 27px;
      color: rgb(35, 66, 47);
      margin-top: -2.3rem;
      background-color: #f8fff2;

    }

    .slider-wrapper2 {
      max-width: 100%;
    }

    .slider2 img {
      background-color: #f8fff2;
    }

    .slide-nav2 a {
      background-color: #1b4131;
    }

    .VisitorCounter {
      color: #2a4137;
      font-size: 15px;
    }
    
    .VisitorCounter p{
      font-size: 15px;
    }
    .VisitorCounter span {
      font-size: 15px;
    }
    .footer {
      margin-top: 15px;
      background-color: rgb(80, 92, 69);
      color: aliceblue;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 2%;
    }
    .footer div {
      text-align: center;
    }
    .logf {
      display: flex;
      width: 80px;
      height: 80px;
      margin: 20px;
    }
    .col2 input {
      width: 80%;
    }
    .col2 button {
      margin-top: 5px;
      width: 20%;
    }

    .footer div h3 {
      font-size: medium;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .col1 a {
      font-size: medium;
      display: block;
      text-decoration: none;
      color: #efefef;
      margin-bottom: 10px;
    }

    #medialogo {
      margin-left: 5px;
      height: 1px;
      width: 1px;
      margin-bottom: 3px;
    }
    .login {
      margin: auto;
      height: fit-content;
      background-color:rgb(110, 131, 91);
      border: 3px double rgb(63, 73, 54);

    }
    .Flogin button{
      background-color:rgb(81, 95, 69);
    }
  }
}
@media only screen and (max-width:540px) {
  body {
    background-color: #fefff8;
    /* style the head and give it color and size */
    .navbar {
      background-color: rgb(228, 224, 178);
      box-shadow: 5px 5px 5px 5px rgba(114, 102, 35, 0.233);
    }
    .log a {
      font-size: 25px;
      font-weight: 600;
      color: #694b0f;
    }
    button,
    select {
      font-size: 12px;
      border: 3px double #694b0f;
      color: #694b0f;
      height: 35px;
      width: 65px;
    }
    .crbiLOGO1 {
      display: none;
    }
    .descr1 {
      display: block;
      background-color: #eee9a3;
      padding: 3px;
      margin-bottom: 10px;
    }
    .descr2 {
      text-align: center;
      border: 2px solid #f0e98a;
      width: auto;
      margin: 0;
    }
    .descr2 a {
      text-decoration: none;
      color: rgb(114, 91, 28);
      font-size: 14px;
    }
    .descr1 :hover {
      background-color: #e7df6d;
    }
    .descr2 a:hover {
      color: rgb(114, 91, 28);
      font-size: 14px;
    }
    #go-to-top {
      bottom: 0.5em;
      padding: 0;
      border-radius: 50%;
      background-color: #e7df6d;
    }
    .container {
      margin-top: 10%;
      background-color: #fefff8;
      border: 4px double rgb(114, 91, 28);
    }
    #instructions {
      font-size: 23px;
      color: rgb(114, 91, 28);
      margin-top: -2rem;
      background-color: #fefff8;
      text-align: center;
      width: auto;
      border: 4px double rgb(114, 91, 28);
    }
    .slider img {
      background-color: #f8fff2;
    }
    .slide-nav a {
      background-color: rgb(151, 143, 71)
    }
    .container2 {
      margin-top: 10%;
      background-color: #fefff8;
      border: 4px double rgb(114, 91, 28);
    }
    #News {
      font-size: 23px;
      color: rgb(114, 91, 28);
      margin-top: -2rem;
      background-color: #fefff8;
      text-align: center;
      width: auto;
      border: 4px double rgb(114, 91, 28);
    }
    .slider2 img {
      background-color: #f8fff2;
    }
    .slide-nav2 a {
      background-color: rgb(151, 143, 71);
    }
    .VisitorCounter {
      color:  rgb(114, 91, 28);
      font-size: 12px;
    }
    .VisitorCounter p{
      font-size: 12px;
    } 
    .VisitorCounter span {
      font-size: 12px;
    }
    .footer {
      background-color: rgb(151, 143, 71);
    }
    .footer div h3 {
      font-size: small;
    }
    .col1 a {
      font-size: smaller;
    }
    .login {
      margin: auto;
      height: fit-content;
      background-color:rgb(151, 143, 71);
      border: 3px double rgb(131, 126, 71);

    }
    .Flogin button{
      background-color: rgb(100, 95, 50);
    }
  }
}